.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 50px);
  width: 100vw;
}
